.albumForm {
  width: 50vw;
  margin: 40px auto 30px;
  padding: 20px;
  border-radius: 12px;
  background-color: #f4f4f4;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.albumForm > span {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

/* Form Layout */
.form {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Input */
.input {
  outline: none;
  border: none;
  padding: 12px 16px;
  font-size: 1.1rem;
  border-radius: 30px;
  width: 60%;
  min-width: 220px;
  background: #fff;
  transition: 0.3s;
  border: 3px solid transparent;
}

.input:focus {
  border-color: rgb(0, 119, 255);
}

/* Buttons */
.button {
  border: none;
  outline: none;
  padding: 10px 16px;
  min-width: 110px;
  border-radius: 8px;
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
  background-color: rgb(0, 119, 255);
  cursor: pointer;
  transition: 0.25s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.clearBtn {
  background-color: rgb(255, 19, 0);
}


@media (max-width: 900px) {
  .albumForm {
    width: 70vw;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .albumForm {
    width: 90vw;
  }

  .albumForm > span {
    font-size: 1.4rem;
  }

  .form {
    flex-direction: column;
    gap: 12px;
  }

  .button {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
