/* Loader */
.loader {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Top Bar */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px;
  flex-wrap: wrap;
  gap: 15px;
}

.top span {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top span img {
  width: 30px;
}

.top h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

/* Top Action Buttons */
.top button {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(0, 119, 255);
  background-color: rgba(0, 119, 255, 0.1);
  border: 2px solid rgb(0, 119, 255);
  cursor: pointer;
}

.active {
  color: rgb(255, 19, 0) !important;
  background-color: rgba(255, 19, 0, 0.1) !important;
  border: 2px solid rgb(255, 19, 0) !important;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  outline: none;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 300;
}

.search img {
  width: 30px;
  cursor: pointer;
}

/* Image Grid */
.imageList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.image {
  background-color: #fff;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  height: 180px;
  width: fit-content;
}

.image img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.image span {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

/* Action Buttons (edit/delete) */
.delete,
.update {
  position: absolute;
  top: -15px;
  display: none;
  transition: 0.3s;
}

.update {
  right: 35px;
}

.delete {
  right: -15px;
}

.update img,
.delete img {
  width: 35px;
}

.image:hover .update,
.image:hover .delete {
  display: block;
}

.update:hover,
.delete:hover {
  transform: scale(0.9);
}


@media (max-width: 768px) {
  .top {
    justify-content: center;
    text-align: center;
  }

  .top h3 {
    font-size: 1.4rem;
  }

  .image {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .top {
    flex-direction: column;
    gap: 20px;
  }

  .search input {
    width: 150px;
    font-size: 0.9rem;
  }

  .imageList {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .image {
    height: 150px;
  }
}
