.loader {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TOP BAR */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 10px;
}

.top h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.top button {
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(0, 119, 255);
  background-color: rgba(0, 119, 255, 0.1);
  border: 2px solid rgb(0, 119, 255);
}

.active {
  color: rgb(255, 19, 0);
  background-color: rgba(255, 19, 0, 0.1);
  border-color: rgb(255, 19, 0);
}

/* GRID */
.albumsList {
  margin-top: 30px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding-bottom: 100px;
}

/* Album Card */
.album {
  border: 4px solid #e5e5e5;
  border-radius: 12px;
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.album img {
  width: 55px;
  margin: 0 auto 20px;
}

.album span {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 8px 0;
  background-color: #eeeeee;
  border-radius: 6px;
  transition: 0.3s;
}

/* Hover Effects */
.album:hover {
  border-color: #0077ff;
}

.album:hover span {
  background-color: #0077ff;
  color: white;
}


@media (max-width: 900px) {
  .top h3 {
    font-size: 1.5rem;
  }

  .albumsList {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .top {
    flex-direction: column;
    gap: 15px;
  }

  .top h3 {
    font-size: 1.4rem;
  }

  .top button {
    width: 100%;
  }

  .albumsList {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .album img {
    width: 45px;
  }

  .album span {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .albumsList {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }

  .album {
    padding: 15px 8px;
  }
}
