.carousel {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 999;
}

/* Image */
.image {
  width: 60vw;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

/* Navigation Buttons (< and >) */
.navBtn {
  outline: none;
  border: none;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;
}

.navBtn:hover {
  background-color: rgb(0, 119, 255);
  color: #fff;
}

/* Close Button (X) */
.closeBtn {
  outline: none;
  border: none;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 50px;
  right: 50px;

  cursor: pointer;
  transition: 0.3s;
}

.closeBtn:hover {
  background-color: rgb(255, 19, 0);
  color: #fff;
}


@media (max-width: 768px) {
  .image {
    width: 80vw;
    height: 70%;
  }

  .navBtn {
    width: 50px;
    font-size: 1.4rem;
  }

  .closeBtn {
    width: 50px;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 480px) {
  .carousel {
    gap: 10px;
  }

  .image {
    width: 90vw;
    height: 60%;
  }

  .navBtn {
    width: 45px;
    font-size: 1.2rem;
  }

  .closeBtn {
    width: 45px;
    font-size: 1.2rem;
    top: 15px;
    right: 15px;
  }
}
